<ion-header>
    <ion-toolbar color="dark">
      <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Request Products
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- <ion-content>
  <div style="clear:both; height:10px"></div>
  <ion-col text center>
        <button ion-button block color= "danger" style="height:30px;">
        </button>
  </ion-col>
  </ion-content> -->
  
  <ion-content padding style="background-color:rgb(230, 227, 227);">
    <!-- <div style="clear:both; height:10px"></div> -->
    <p style = "text-align: left; font-weight: 400;">SOMETHING MISSING?</p>

    <div>
      <p style="font-size: 14px; color: rgb(116, 114, 114); text-align: left; font-weight: 400;">We want to make your TAKEOUT a store you can rely on for the things you need. 
      If something is missing, let us know and we'll try to get it in there.</p>
    </div>
  
    <div style="clear:both; height:10px"></div>
  
      <ion-item style="background-color:rgb(230, 227, 227); width:100%; margin-left: -15px; ">
      <ion-input type="text"[(ngModel)]="newproduct.product" placeholder="Tell us what's missing" clearInput style="font-size: 14px; color: rgb(51, 51, 51);"></ion-input>
      </ion-item>
  
    <div style="clear:both; height:20px"></div>
    <ion-col text center>
      <button ion-button color= "new" type="submit" style="margin-left:-5px; height:35px; width:150px;" (click)="submit()">
        SUBMIT
      </button>
    </ion-col>
 
    
  </ion-content>
  
  