page-view-receipts {
    .cls-1 {
        opacity: 0;
        animation: 0.8s ease-out pulse;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
       
        }

        .cls-2 {
            opacity: 0;
            animation: 0.8s ease-out pulse;
            animation-fill-mode: forwards;
            animation-delay: 0.4s;
            }

}

@-webkit-keyframes pulse {
    from {
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      opacity:1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      opacity:0;
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation: pulse ease-out 0.8; 
    animation: pulse ease-out 0.8;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
  }

