<ion-header>
    <ion-toolbar color="dark">
      <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        My Receipts
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content style="background-color:rgb(230, 227, 227);">
  <div class="cls-1" style="height: 170px; /*background-color: #12b8b8;*/background-color:rgb(0,153,153); margin-left: 10px; margin-right: 10px; text-align: center;"> 
  <p style="font-size: 18px; color: whitesmoke; padding-top: 20%; text-align: center;">Transaction pending from Hotel Diva</p>
  </div>

    <ion-card class="cls-2">

        <ion-item>
          <div>
            <h2 style="font-weight:bold; float:left;">Promenade Hotel</h2>
            <h2 style="font-weight:bold; float:right;">RM51.62</h2><br>
            <p style="float: left;">Feb 13th, 2018 at 02:13 A.M.</p>
          </div>
        </ion-item>

        <div>
        <img src="../assets/imgs/map.jpg">
        </div>

        <ion-item>
          <button ion-button (click)= "viewReceipts()" clear item-end style="font-weight: bold; font-size:14px">
            View Receipt
          </button>
        </ion-item>
      
      </ion-card>

</ion-content>
