<ion-content padding style="background-color: rgb(32, 31, 31);">
  <div style="clear:both; height:130px"></div>

  <ion-img style="height:80px; object-fit:cover; width: 60%; margin-left: 21.5%;" src="assets/imgs/LogoLatest.png" alt="" id="iconbox"></ion-img>
  <div style="clear:both; height:180px"></div>

  <div>
    <ion-row>
      <ion-col text-center>
        <button ion-button block color = "new" style="height:50px;" (click) = "onSignIn()">
          SIGN IN
        </button>
      </ion-col>
    </ion-row>
  </div>
    
  <div>
    <ion-row>   
      <ion-col text-center>
        <button ion-button block color = "new" style="height:50px;" (click) = "onCreateAnAccount()">
          CREATE AN ACCOUNT
        </button>
      </ion-col>
    </ion-row>
  </div>
  </ion-content>
  