$text-image-size: 7.5rem !default;

text-avatar {
  color: white;
  text-align: center;
}

text-avatar, text-avatar::after {
  width: $text-image-size;
  height: $text-image-size;
  border-radius: $text-image-size/2;
  display: table-cell;
  vertical-align: middle;
  font-size: xx-large;
  text-transform: capitalize;
}

text-avatar::after {
  content: attr(value);
}