<!--
  Generated template for the PasswordresetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  </ion-header>
  
  
  <ion-content class="background">
  <ion-card>
    <ion-card-header>
      Password Reset
    </ion-card-header>
    <ion-card-content>
      <ion-list >
        <ion-item>
            <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
        </ion-item>
        <button ion-button block round outline color="light" (click)="reset()">Reset my Password</button>
        <button ion-button full clear color="light" (click)="goback()">Go Back</button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  </ion-content>
