
<ion-content padding style="background-color:rgb(230, 227, 227);">
    <div style="clear:both; height:17px;"></div>
  <div>
    <h4>Payment Information</h4>
   
    <button ion-button block color = "new" style="height:35px; width:150px;" (click) = "addPayment()">ADD PAYMENT</button>
    
  </div>
 <ion-item padding style="background-color:rgb(230, 227, 227);"></ion-item>

    <div class="line"></div>

  <div>
    <h4>User Authentication</h4>
    <h6>Bodega Account</h6>
  </div>
  <ion-item style="background-color:rgb(230, 227, 227);"></ion-item>

  <div style="clear:both; height:20px; background-color:rgb(230, 227, 227);"></div>
  <div class="line"></div>
  <div>
    <h4>Donate to end child hunger</h4>
    <div>
      <ion-checkbox style="color:green; float: left;"></ion-checkbox>
      <h6 class="dist">Round up my receipts and donate the difference</h6>
    </div>
  </div>
  <ion-item style="background-color:rgb(230, 227, 227);"></ion-item>

  <div style="clear:both; height:20px; background-color:rgb(230, 227, 227);"></div>
  <div class="line"></div>
  
  <div>
      <h4>Push Notifications</h4>    
          <div>
              <ion-checkbox style="color:green; float:left;"></ion-checkbox>
              <h6 class="dist"> Tell me when my purchase is processed</h6>
          </div>
          <div>
              <ion-checkbox style="color:green; float:left;"></ion-checkbox>
              <h6 class="dist"> Tell me when my Bodega is stocked</h6>
          </div> 
  </div>
  <div style="clear:both; height:40px; background-color:rgb(230, 227, 227);"></div>

</ion-content>
