page-payment-info {
    .line{
        width: 90%;
        height: 20px;
        border-bottom: 1px solid gray;
        position: absolute;
        margin-top: -15%;
        
        }
    .dist{
        margin-left:8%;
    }
}
