page-help {

.item-input {
 background-color: white;
 border-color: darkgray;
 border-width: 1px !important;
 border-style: solid;
 color: rgb(50, 50, 50);
 padding: 0;
 border-radius: 5px;
 }

 .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
} 

img{
	height: 200px;
	width: 300px;
}
}