<!-- <ion-header>
  <ion-navbar color="t_white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class='home'>
  <ion-list no-lines>
  
  <p style="font-size:16px;">Your name</p>
  <ion-item>
  <ion-label hidden></ion-label>
  <ion-input [(ngModel)]="newreport.name" clearInput type="text"></ion-input>
  </ion-item>

  <p style="font-size:16px;">Title*</p>
  <ion-item>
  <ion-label hidden></ion-label>
  <ion-input [(ngModel)]="newreport.title" clearInput type="text" ></ion-input>
  </ion-item>

  <p style="font-size:16px;">How can we help you?</p>
  <ion-item>
  <ion-label hidden></ion-label>

  <ion-input [(ngModel)]="newreport.body" clearInput style="width:100px; height:170px;" type="text"></ion-input>
  </ion-item>

  <ion-row style = "justify-content: center; margin-top:10%">
    <img src="{{newreport.attachment}}"  (click)="attachment()">
  </ion-row>
 
  <button ion-button block color = "new" style="float: bottom; margin-top: 10%;" (click)="submit()">Send</button>
  


   <div style="clear:both; height:180px"></div>

 
 
  <div style="clear:both; height:50px"></div>
  -->


  <ion-header>
    <ion-navbar color="t_white">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Contact Us</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding class='home'>
    <ion-list no-lines>
    
    <p style="font-size:16px;">Your name</p>
    <ion-item>
    <ion-label hidden></ion-label>
    <ion-input [(ngModel)]="newreport.name" clearInput type="text"></ion-input>
    </ion-item>
  
    <p style="font-size:16px;">Title*</p>
    <ion-item>
    <ion-label hidden></ion-label>
    <ion-input [(ngModel)]="newreport.title" clearInput type="text" ></ion-input>
    </ion-item>
  
    <p style="font-size:16px;">How can we help you?</p>
    <ion-item>
    <ion-label hidden></ion-label>
  
    <ion-input [(ngModel)]="newreport.body" clearInput style="width:100px; height:170px;" type="text"></ion-input>
    </ion-item>
  
    <ion-row style = "justify-content: center; margin-top:10%">
      <img src="{{newreport.attachment}}"  (click)="attachment()">
    </ion-row>
   
    <button ion-button block color = "new" style="float: bottom; margin-top: 10%;" (click)="submit()">Send</button>
    
  
  
     <div style="clear:both; height:180px"></div>
  
   
   
    <div style="clear:both; height:50px"></div>