<ion-header>
    <ion-toolbar color="dark">
      <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Settings
      </ion-title>
    </ion-toolbar>
      <div class="navavatar" style="height: 200px;">
        <div style="clear:both; height:40px;"></div>
        <ion-row>
          <text-avatar text={{email}}></text-avatar>
        </ion-row>
        <ion-row>
          <p style="font-size:16px; color: gray;">{{email}}</p>  
        </ion-row>
          <div style="clear:both; height:20px;"></div>
        </div>
     
</ion-header>

<ion-content>
   
  <!-- <ion-item> -->
  <ion-tabs tabsPlacement="top" style="background-color:rgb(230, 227, 227);">
    <ion-tab [root]="tab1Root" tabTitle="SETTINGS" style="background-color:rgb(230, 227, 227);"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="RECENT RECEIPTS" style="background-color:rgb(230, 227, 227);"></ion-tab>
  </ion-tabs>
  <!-- </ion-item> -->
  
</ion-content>




  

  






