<ion-content padding style="padding:5px;background-color: rgb(32, 31, 31);">
  
  
  <div style="clear:both; height:5%"></div>
  <img src="assets/imgs/LogoLatest.png" style=" margin-left: 20%; background: transparent;">
  <div style="clear:both; height:12%"></div>
  
  
  <ion-item>
    <ion-input type="text" [(ngModel)]="credentials.email" placeholder="Email Address or Username"></ion-input>
  </ion-item>
  
  <div style="clear:both; height:10px"></div>

  <ion-item>
    <ion-input type="password" [(ngModel)]="credentials.password" placeholder="Password"></ion-input>
  </ion-item>
  <p style="color: rgb(138, 135, 135);color: rgb(138, 135, 135);text-align: right;margin-top:1%">Forgot password?</p>

  <button ion-button block color = "new"  style="height:40px; margin-bottom: 5%" (click) ="signin()">SIGN IN</button>
  <button ion-button block color = "new"  style="height:40px; " (click) ="signup()">SIGN UP</button>
 
</ion-content>
  
