page-signin {

    .item {
        height: 40px;
    }

    .text-input {
        text-align: left;
        padding-bottom: 3%;
        width: calc(100% - 8% - 8%);
    }

    .item-input {
        background-color: rgb(58, 57, 57);
        border-color: rgb(58, 57, 57);
        border-width: 1px !important;
        // border-bottom-color: rgb(58, 57, 57);
        // border-bottom: transparent;
        // border-style: solid;
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        color: rgb(138, 135, 135);
        padding: 5px;
        border-radius: 0px;
        }
    img{
        height: 200px;
        width: 200px;
        align-items: center;     
    }

    .text-input {
        text-align: left;
        padding-bottom: 3%;
        width: calc(100% - 8px - 8px);
        }

}
