<ion-menu [content]="content" [swipeEnabled]="false">
        
        <ion-content>
          <!-- <div class="sssss" style="width: 640px; height: auto;  position: relative;"> -->
              <div class = "navavatar1">
                <div style = "margin-top:5%"></div>
                <ion-row>
                  <text-avatar text={{email}}></text-avatar>
                </ion-row>
                <ion-row>
                  <p style="font-size:16px; font-weight: bold; color: white;">{{email}}</p>
                </ion-row>
              </div>
          <!-- </div> -->
          
          <ion-list no-lines>
            <button style ="font-size:15px;margin-bottom:5%" menuClose="left" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
              <ion-icon color="gray"[name]="p.icon" item-left></ion-icon> {{p.title}}
            </button> 
            
          </ion-list>

        </ion-content>
      
      </ion-menu>
      
      <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
      <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
