// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

 @font-face{
 font-family:'Merriweather Sans';
 src:url('../assets/fonts/MerriweatherSans-Regular.ttf')format('truetype');
 font-weight:normal;
 font-style:normal;
 }

ion-content{
  background: #cccccc;
}


img{
&.BannerMenu {
    width: 100%;
    height: 25%;
    background-image:url("../assets/imgs/wood.jpg");
  }
}

.navavatar1{
    width: 100%;
    height: 30%;
    background-image:url("../assets/imgs/wood.jpg");
    padding-top: 10px;
    ion-row{
      justify-content: center;
  }
}

ion-img.img {
    border-radius: 50%;
    height:80px;
    width:80px;
    margin: 50px auto 10px auto; 
  } 

  h3,
  .label,
  {
    color: #000;
    font-weight: 300;
  }
  ion-icon {
    color: #777;
  }

 

  .normalToast {
    margin-top: 98%;
    height: 40px;
    .toast-message { 
      background: rgb(253, 85, 85); 
      text-align: center;
      border-radius: 2px;
      height: 40px;
      
    }
  }

  .PageCenter {
    margin: auto;
    display: block;
  }

  .scroll-content{
    overflow: hidden;
    //padding-bottom: 0!important; 

  }


  // .col {
  //   position : initial !important;
    
  //   }

  // .input-cover {
  //   position: initial !important;
  //   overflow-y: scroll;
  //   padding-bottom: 0 !important;
  // }





