<ion-header class="cls-1">
  <ion-toolbar color="dark">
    <button ion-button menuToggle left>
    <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      TakeOut
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="cls-1">
    <!-- <div style="clear:both; height:80px"></div> -->
    <div style="clear:both; height:10px"></div>
    <div style="display:block; background-color:rgb(245, 53, 53); height: 50px; color: white; text-align: center; font-size: 10px;">Woohoo! Your first item under $10 is free. Enjoy!</div>
    <div style="clear:both; height:10px"></div>
  
    <ion-img style="width:90%; background: transparent; margin-left:20%; margin-top:20%;" src="../assets/imgs/bodegabox.png"></ion-img>
    <p style="font-size: 23px; color: gray; text-align: center">Enter your store's code: </p>
    
    <div style="clear:both; height:60px"></div>
    
    <ion-row style="overflow: hidden; opacity: 30; text-align: center; margin-left: -6px;">
          <ion-input type="number" class="bottom" max="1" style="margin-left: -10px;" ></ion-input>
          <ion-input type="number" class="bottom" max="1" ></ion-input>
          <ion-input type="number" class="bottom" max="1" style="margin-right:-10px;"></ion-input>
    </ion-row>
    

    <ion-col text center>
      <button ion-button block color = "positive"  style="height:50px;">OPEN STORE</button>
    </ion-col>

  </ion-content>
