page-purchases {
       .cls-1 {
        opacity: 0;
        animation: 0.8s ease-out slideInSmooth;
        animation-fill-mode: forwards;
        //animation-delay:0.2s;
       
        }

}
@-webkit-keyframes slideInSmooth {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
  }
}

@keyframes slideInSmooth {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
  }
}

.slideInSmooth{
  -webkit-animation: slideInSmooth linear 0.8; 
 animation: slideInSmooth linear 0.8;
 -webkit-animation-fill-mode: forwards;
 animation-fill-mode: forwards;
 -webkit-animation-duration: 5ms;
 animation-duration: 5ms;
}
