
  <ion-content style="background-color:rgb(230, 227, 227);">
    <ion-toolbar color="dark">
      <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        My Receipts
      </ion-title>
    </ion-toolbar>

    <ion-card class="cls-1">
      <div style="clear:both; height:15px;"></div>
      <ion-item>
        <ion-avatar item-start>
          <img src="../assets/imgs/avatar.png" style="width: 70px; height: 70px;">
        </ion-avatar>
        <h1>Kota Kinabalu</h1>
        <h3>Promenade Hotel, Jalan Tun Fuad</h3>
        <h3> Stephen, 88450.</h3>
        <p>Feb 13th, 2018 at 02:13 a.m.</p>
      </ion-item>
      
        <ion-card-content>
          <div style="clear:both; height:50px"></div>
          <p style="font-size: 30px; float: left;">Total:</p>
          <p style="font-size: 30px; float: right;">RM13.65</p>

          <div style="clear:both; height:20px"></div>
      
        <table width="100%">
          <thead>
            <th  width="61%" align="left" valign="top"></th>
            <th  width="3%" align="center" valign="top"></th>
            <th  width="36%" align="right" valign="top"></th>
          </thead>
          <tbody>
          <tr>
            <td>
              <h2 style="float: left;">Rainforest Chocolate</h2>
            </td>
            <td>
              <h2 style="text-align: center;">1</h2>
            </td>
            <td>
              <h2 style="float: right;">RM13.00</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h3 style="float: left;">- Cadbury -</h3>
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
              <h2 style="float: left;">Charger Cord</h2>
            </td>
            <td>
              <h2 style="text-align: center;">1</h2>
            </td>
            <td>
              <h2 style="float: right;">RM19.90</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h3 style="float: left;">- Android -</h3>
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
              <h2 style="float: left;">Facial Mask</h2>
            </td>
            <td>
              <h2 style="text-align: center;">2</h2>
            </td>
            <td>
              <h2 style="float: right;">RM15.80</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h3 style="float: left;">- Hada Labo -</h3>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

        <div style="clear:both; height:30px"></div>
        
        <ion-row>
            <ion-col col-9>
              <div style="text-align: right;">
              Subtotal :
            </div>
            </ion-col>
            <ion-col col-3>
                <div style="text-align: left; margin-left:3%;">
                RM48.70 
              </div>
              </ion-col>
          </ion-row>
        
  
          <div style="clear:both; height:0px"> </div>
          <ion-row>
              <ion-col col-9>
                  <div style="text-align: right;">
                Tax@6% :
              </div>
              </ion-col>
              <ion-col col-3>
                  <div style="text-align: left;margin-left:3%;">
                  RM2.92 
                  </div>
                </ion-col>
            </ion-row>
  
            <div style="clear:both; height:0px"> </div>
            <ion-row>
                <ion-col col-9>
                    <div style="text-align: right;">
                  Total :
                  </div>
                </ion-col>
                <ion-col col-3>
                    <div style="text-align:left;margin-left:3%;">
                    RM51.62 
                    </div>
                  </ion-col>
              </ion-row>


          <div style="clear:both; height:30px"></div>
          <p style="text-align: center;">Something not looking right?</p>
          <button ion-button class="PageCenter"(click)= "toHelpPage()" clear item-end style="font-size: 14px; margin-top: -10px;">Let us know</button>
          
        </ion-card-content>
      </ion-card>
  </ion-content>