<ion-content padding style="padding:5px;background-color:rgb(32, 31, 31);">
 
  
    <div style="clear:both; height:5%"></div>
    <img src="assets/imgs/LogoLatest.png" style="margin-left: 20%; background: transparent;">
    <div style="clear:both; height:5%"></div>
    <button ion-button block (click) = "onFbLogin()" style="background-color: rgb(73, 73, 170);height:40px">
      SIGN UP USING FACEBOOK
    </button>
 
  <p style= "text-align:center; color: rgb(138, 135, 135);">- OR -</p>
  
  <ion-item>
    <ion-input type="text" [(ngModel)]="newuser.email" placeholder="Email Address"></ion-input>
  </ion-item>
  
  <div style="clear:both; height:10px"></div>

  <ion-item>
    <ion-input type="password" [(ngModel)]="newuser.password" placeholder="Password"></ion-input>
  </ion-item>
  
  <div style="clear:both; height:20px"></div>

  <label class = "item">
  <button style="height:40px" ion-button block color = "new" (click) = "signup()">
    SIGN UP
  </button>
  </label>
  
    <p style="text-align:right;color: rgb(138, 135, 135);margin-top:1%" (click)="signin()">
      Already registered?
    </p>
  </ion-content>
   
