<ion-header>
  <ion-toolbar color="dark">
    <button ion-button menuToggle left>
    <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <div>
    <p style="font-size: 15px; font-weight: bold; color: black;">Hotel Diva</p>
    <p style="color: black;">440 Geary St.<br>
    San Francisco, CA</p>
    </div>
  </ion-item>

  <ion-item>
    <img src="assets/imgs/mm.png" style="width: 40px; height: 75px; float: left; margin-left: 5%;">
    <div style="margin-top: 10%;">
      <p style="float: left; margin-left: 15%;">M&M Chocolate</p>
    </div>
    <p style="float: right;">RM3.50</p>
  </ion-item>

  <ion-item>
    <img src="assets/imgs/libresse.png" style="width: 75px; height: 75px; float: left; margin-top: 3%;">
    <div style="margin-top: 10%;">
      <p style="float: left; margin-left: 8%;">Libresse Maxi Wings</p>
    </div>
    <p style="float: right;">RM7.00</p>
  </ion-item>

  <ion-item>
    <img src="assets/imgs/earpods.png" style="width: 75px; height: 75px; float: left; margin-top: 1%;">
    <div style="margin-top: 10%;">
      <p style="float: left; margin-left: 8%;">Apple Earpods</p>
    </div>
    <p style="float: right;">RM699.90</p>
  </ion-item>

  <ion-item>
    <img src="assets/imgs/samyang.png" style="width: 75px; height: 75px; float: left">
    <div style="margin-top: 10%;">
      <p style="float: left; margin-left: 8%;">Hot Chicken Flavour Ramen</p>
    </div>
    <p style="float: right;">RM8.50</p>
  </ion-item>

  <ion-item>
    <img src="assets/imgs/redbull.png" style="width: 60px; height: 75px; float: left; margin-left: 2%;">
    <div style="margin-top: 10%;">
      <p style="float: left; margin-left: 12%;">Redbull</p>
    </div>
    <p style="float: right;">RM2.90</p>
  </ion-item>

  <ion-item>
    <img src="assets/imgs/deodorant.png" style="width: 40px; height: 75px; float: left; margin-left: 5%;">
    <div style="margin-top: 10%;">
      <p style="float: left; margin-left: 17%;">Nivea Anti-Perspirant</p>
      <p style="float: right;">RM11.50</p>
    </div>
  </ion-item>

  <ion-item>
    <img src="assets/imgs/cobalt.jpg" style="width: 75px; height: 75px; float: left; margin-top: 1%;">
    <div style="margin-top: 10%;">
      <p style="float: left; margin-left: 10%;">5 Gum Cobalt</p>
    </div>
    <p style="float: right;">RM8.90</p>
  </ion-item>










</ion-content>
