page-add-card {
    img{
        height: 200px;
        width: 300px;
        align-items: center;     
    }
      
        .col {
          position :initial !important;
          }
      
        .inputfile {
              width: 0.1px;
              height: 0.1px;
              opacity: 0;
              position: initial !important;
              z-index: -1;
              overflow-y: scroll;
          }     
      
          .input {
            position: intial !important;
            overflow-y: scroll;
            padding-bottom: 0 !important;
          }
      
          .text-input {
            position: initial !important;
            overflow-y: scroll;
            padding-bottom: 0 !important;
          }
      
          
        .input-cover {
          position: initial !important;
          overflow-y: scroll;
          padding-bottom: 0 !important;
        }
      
      }

      .scroll-content{
        overflow-y: scroll;
        padding-bottom: 0!important; 
      }
      //popup currency input modal css-----------------
    
    
      .col {
        position : initial !important;
        
        }
    
      .input-cover {
        position: initial !important;
        overflow-y: scroll;
        overflow: scroll;
        padding-bottom: 0 !important;
      }


      

