<ion-header>
  <ion-toolbar color="dark">
    <button ion-button menuToggle left>
    <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Receipts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background-color:rgb(230, 227, 227);">
  <!-- <div style="clear:both; height:200px"></div>
  <div style = "text-align:center; background-color:light">
    Welcome to TakeOut!
  </div> -->
  <h3 style="color:black;">ADD PAYMENT INFORMATION</h3>
  <p style="font-size:14px;">We won't charge your card until you remove an item from the TAKEOUT, close the door and walk away. Using a company account? Type in your code <a href="">here</a></p>
  

  <!-- <ion-img style="width:343px; height:180px; background: transparent;" src="../assets/imgs/card.png" alt=""></ion-img> -->
  <img style="background: transparent; margin-left:5%; margin-top:10%;" src="assets/imgs/card.png">


  <div style="clear:both; height:50px; background-color:rgb(230, 227, 227);"></div>

  <ion-item style="margin-left:-10px; width: 103%; background-color:rgb(230, 227, 227);">
   <ion-input  style="position: initial; background-color:rgb(230, 227, 227); color: black;border:none;outline:none" placeholder= "Credit Card or Debit Card " type="tel" [(ngModel)]="card.cardNumber" [textMask]="{mask: masks.cardNumber,guide:false}">
  </ion-input>
  </ion-item>



  <ion-item style="float:left; width: 150px; margin-left:-10px; background-color:rgb(230, 227, 227);">
    <ion-input style="background-color:rgb(230, 227, 227); color: black;border:none;outline:none" placeholder= "Card Expiry " type="tel" [(ngModel)]="card.cardExpiry" [textMask]="{mask: masks.cardExpiry}">
  </ion-input>
    </ion-item>

  <ion-item style="float:right; width: 150px; background-color:rgb(230, 227, 227);">
    <ion-input style="background-color:rgb(230, 227, 227); color: black; border:none; outline:none" type="tel" placeholder= "CVV" type="text" [(ngModel)]="card.cvv" [textMask]="{mask: masks.cvv}">
  </ion-input>
    </ion-item>

  <div style="clear:both; height:40px; background-color:rgb(230, 227, 227);"></div>

  <button ion-button block color = "new"  style="height:40px;" (click)="save()">SAVE CARD</button>


</ion-content>
