page-unlockbodega {
 // 
 #iconbox{
    background: transparent;
    margin-left: 80px;
}

// .col {
//   position : initial !important;
//   }

// .inputfile {
//       width: 0.1px;
//       height: 0.1px;
//       opacity: 0;
//       position: initial;
//       z-index: -1;
//       overflow-y: scroll;
//   }     

//   .input {
//     position: initial;
//     overflow-y: scroll;
//     padding-bottom: 0 !important;
//   }

//   .text-input {
//     position: initial;
//     overflow-y: scroll;
//     padding-bottom: 0 !important;
//   }

  
// .input-cover {
//   position: initial;
//   overflow-y: scroll;
//   padding-bottom: 0 !important;
// }

.cls-1 {
    opacity: 0;
    animation: 1s ease-out pulse;
    animation-fill-mode: forwards;
    animation-delay:0.2s;
   
    }

// ion-input.bottom{
//  border-bottom: 3px solid black;
//  border-top-style: none;
//  border-right-style: none;
//  border-left-style: none;   
//  width: 25px;
//  height: 50px;
//  font-size: 35px;
//  margin-left:15px;
// }

ion-row{
    justify-content: center;
    position : initial !important;
}

ion-item {
  justify-content: center;
}



.myphoto {
    img {
    height: 70vh !important;
    width: auto !important;
    align-items: center;
    }
    }

    img{
        height: 200px;
        width: 200px;
        align-items: center;     
    }
    .center-block {
        margin: auto;
        display: block;
      }
}//

@-webkit-keyframes pulse {
    from {
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      opacity:1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      opacity:0;
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation: pulse ease-out 0.8; 
    animation: pulse ease-out 0.8;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
  }



  // .scroll-content{
  //   overflow-y: scroll;
  //   //padding-bottom: 0!important; 
  // }
  //popup currency input modal css-----------------


  // .col {
  //   position : initial !important;
    
  //   }

  // .input-cover {
  //   position: initial !important;
  //   overflow-y: scroll;
  //   overflow: scroll;
  //   padding-bottom: 0 !important;
  // }