<ion-header>
    <ion-toolbar color="dark">
      <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        TAKEOUT
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding style="background-color:rgb(230, 227, 227);">
      <!-- <div style="clear:both; height:80px"></div> -->
      <div style="clear:both; height:10px"></div>
      <div class="cls-1" style="display:block; background-color:#ff6666; height: 45px; color: white; text-align: center; font-size: 17px;">Woohoo! Your first item under $10 is free. Enjoy!</div>
      
    
      <img src="assets/imgs/bodegabox.png" style=" background: transparent; margin-left:20%; margin-top:5%">
      <p style="font-size: 20px; color: gray; text-align: center">Enter your store's code: </p>
      
     
     
      <!-- <ion-item style="text-align: center; opacity: 30; background-color:rgb(230, 227, 227);"> -->
        <ion-row>
        <input style ="text-align: center; font-size:50px;background-color:rgb(230, 227, 227); color: transparent; text-shadow: 0 0 0 black; border:none; outline:none" type="tel" placeholder="_ _ _"  [(ngModel)]="num1" [textMask]="{mask: masks.num1}" >            
        </ion-row>
      <!-- </ion-item> -->
 
      <ion-col text center>
        <button ion-button block color = "new"  style="height:40px;">OPEN STORE</button>
      </ion-col>

    </ion-content>
